<!DOCTYPE html>
<html lang="ro-RO">
    <head>
        <title>PC Garage pe buget</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
        <header>
            <h1>Tot ce are PC Garage la același preț doar că website mai puțin de calitate</h1><br>
        </header>
       
     
        <div class="topnav">
            <a href = "/"> Acasă</a>
            <a href="autentificare">Autentificare </a> 
            <a href = "chestionar"> Chestionar</a>
            <a href = "vizualizare-cos"> Vizualizare coș</a>   
            <a href="/logout">Delogare</a> 
            <a href="/admin">Admin</a>
        </div>
        
    <body>
        <main>
            <%- body %>
        </main>

        <footer >
            <hr>
            &#169; 2024 PC Garage pe buget maxim
        </footer>
    </body>
</html>